html,body{
font-family: Monospace;  
}

*{
  box-sizing: border-box; 
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: hidden;
  position: fixed;
  background-size: cover;
}

.title-container{
display: flex;
flex-direction: column;
align-items: center;  
position: absolute;
}

.editor-container{
    z-index: 1;
    font-size: 6vmax;
    font-family: monospace;
    color: rgb(251, 240, 249);
    font-weight: bold;
    text-shadow: rgb(0 0 0) 4px 4px 5px;
    text-align: right;
    line-height: 6vmax;
    opacity: 0.95;
    padding: 1vw; 
}

.editor-container:hover{
color:#a300cc;  
}

.editor-container h1{
background-color: rgba(0, 0, 0, 0.9);  
}

.editor-container h2{
background-color: rgba(0, 0, 0, 0.9); 
}

.editor-container h3{
background-color: rgba(0, 0, 0, 0.9); 
}

.form{
background: #000000;
margin: 0 0 0 30px;  
}

.form a{
  outline: none;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 40px;
}

.form:hover {
  background: #a300cc;
}
