html,body{
font-family: Monospace;  
}

*{
  box-sizing: border-box; 
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: hidden;
  position: fixed;
  background-size: cover;
  background: black;
}


.editor-container{
    z-index: 1;
    display:flex;
    width: 100%;
    justify-content: right;
    align-items: end;  
    flex-direction: column;
    font-size: 2vmax;
    font-family: monospace;
    color: rgb(251, 240, 249);
    font-weight: bold;
    text-shadow: rgb(0 0 0) 4px 4px 5px;
    text-align: right;
    line-height: 4vmax;
    opacity: 0.85;
    padding: 1vw; 
}

.editor-container:hover{
color:#a300cc;  
}

.editor-container h1{
background-color: rgba(0, 0, 0, 0.9); 
  
}

.editor-container h2{
background-color: rgba(0, 0, 0, 0.9); 
    align-items: right;  
}

.editor-container h3{
  background-color: rgba(0, 0, 0, 0.9); 
  max-width: 49%;
}

.form{
  background: #000000;
  margin: 0 0 0 30px; 
  width: max-content;
}

.form a{
  outline: none;
  text-decoration: none;
  text-align: right;
  color: white;
  padding: 5px;
  font-size: 40px;
  opacity: 0.85;
  width: min-content;
}

.small {
  color: white;
}

.small a{
  outline: none;
  text-decoration: none;
  text-align: right;
  color: white;
  padding: 5px;
  font-size: 20px;
  opacity: 0.85;
  width: min-content;
}

.form:hover {
  background: #a300cc;
}

.mozilla{
  background: #000000;
  margin: 0 0 0 30px; 
  width: max-content;
}

.mozilla:hover {
  background: #a300cc;
}

.mozilla a{
  outline: none;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 40px;
  opacity: 0.85;
  width: min-content;
}

.live{
  background: #000000;
  margin: 10px 0 0 30px; 
  width: max-content; 
}

.live:hover {
  background: #a300cc;
}

.live a{
  outline: none;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 40px;
  opacity: 0.85;
  width: min-content;
}

.manifestoTitle {
  background-color: black; 
  text-align: left;
  color: white;
  font-size: 4em;
  width: max-content;
  margin: 0 5% 0 2%;
  opacity: 0.85;
}

.manifestoSubTitle {
  background-color: black; 
  text-decoration: none;
  text-align: left;
  color: white;
  font-size: 3em;
  width: max-content;
  margin: 0 5% 0 2%;
  opacity: 0.75;
}

.manifesto {
  background-color: black; 
  text-decoration: none;
  text-align: left;
  color: white;
  font-size: 2em;
  margin: 0 5% 0 5%;
  opacity: 0.80;
  line-height: 1.5;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 1em;
}

/* Botón en la esquina superior derecha */
    #ttsButton {
      position: fixed;
      top: 20px;
      left: 20px;
      padding: 10px 15px;
      background-color: white;
      color: black;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 1.3em;
      text-shadow: "1px 2px 6px"
    }

    #ttsButton:hover {
      background-color: pink;
    }

  .algopoetica-text {
      font-family: monospace, sans-serif;
      font-size: 18px;
      line-height: 25.2px;
      color: white;
      text-shadow: 1px 1px 1px;
      background: rgba(0,0,0,50%);
  }


    body {
      margin: 40px;
    }
